<style>
    .HYHQ7RYC1BDlO1amTeHE9 {
        min-height: 370px;
        padding-top: 67px;
        padding-bottom: 10px;
        color: #000;
        font-family: NotoSerifCJKtc;
        background: url(/images/footer/background-footer.png) no-repeat bottom;
    }

    .pUk9b12uOGKg24-PcmJWk {
        position: relative;
        width: 1200px;
        margin: 0 auto;
    }

    ._39EtgGfulqPdGss0OAWO7N {
        display: flex;
        gap: 50px;
    }

    ._39EtgGfulqPdGss0OAWO7N ._30HYT2iK08KPDwm-QY5zlF {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 370px;
        text-align: justify;
    }

    ._39EtgGfulqPdGss0OAWO7N ._30HYT2iK08KPDwm-QY5zlF>img {
        height: 127px;
        min-width: 342px;
        width: 223px;
    }

    ._39EtgGfulqPdGss0OAWO7N ._30HYT2iK08KPDwm-QY5zlF>p {
        width: 347px;
        margin: 0;
        font-size: 17px;
        letter-spacing: .1px;
    }

    ._39EtgGfulqPdGss0OAWO7N ._30HYT2iK08KPDwm-QY5zlF>p ._2lJI3wjqaFHQR_-SQTv4WH {
        color: red;
    }

    ._39EtgGfulqPdGss0OAWO7N section ._2nbcEJoQ-ZfT7ZkunleqMr {
        display: flex;
        align-items: center;
        color: #101010;
        line-height: 1.71;
        font-size: 20px;
        gap: 8px;
        font-weight: bold;
        text-transform: uppercase;
    }

    ._39EtgGfulqPdGss0OAWO7N section ._2nbcEJoQ-ZfT7ZkunleqMr .title-icon {
        width: 20px;
        height: 20px;
    }

    ._39EtgGfulqPdGss0OAWO7N section>.TXENmrLTqrPrzDpnGfan5 {
        margin: 0;
        padding: 0;
        font-size: 17px;
        list-style: none;
    }

    ._39EtgGfulqPdGss0OAWO7N section>.TXENmrLTqrPrzDpnGfan5 li {
        width: 230px;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
        border-bottom: 1px solid #edbebe;
        cursor: pointer;
    }

    ._39tyXHV-L_TQJOnqgE4ju2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 26px;
    }

    ._1enrf79p8QHcZIV56f7Jck {
        margin-bottom: 0;
        margin-top: 22.4px;
        font-size: 17px;
        text-align: center;
    }

    ._1rm8EYCjCarupQKGl8wf0B {
        margin-bottom: 0;
        font-size: 15px;
        text-align: center;
        line-height: 39px;
    }
</style>

<footer ng-class="$ctrl.styles['footer']" class="HYHQ7RYC1BDlO1amTeHE9">
    <div ng-class="$ctrl.styles.wrapper" class="pUk9b12uOGKg24-PcmJWk">
        <div ng-class="$ctrl.styles.top" class="_39EtgGfulqPdGss0OAWO7N">
            <div ng-class="$ctrl.styles.info" ng-if="!$ctrl.show" class="ng-scope _30HYT2iK08KPDwm-QY5zlF"> <img
                    src="/images/footer/4b6aec8eb565af9675c82e8ab7a933cc.png"
                    alt="">
                <p> MB66&nbsp;là một nhà cái có giấy phép cá cược trực tuyến hợp pháp do Isle of Man và Khu kinh tế
                    Cagayan and Freeport cấp. Với bề dày kinh nghiệm và danh tiếng phục vụ hơn 10 triệu người chơi,
                    MB66&nbsp;đã và đang khẳng định vị thế của mình trên thị trường game trực tuyến. <span
                        ng-click="$ctrl.toggleInfo()" ng-class="$ctrl.styles.toggleInfo"
                        class="_2lJI3wjqaFHQR_-SQTv4WH"> Xem thêm</span> </p>
            </div>
            <section>
                <div ng-class="$ctrl.styles.title" class="_2nbcEJoQ-ZfT7ZkunleqMr">
                    <svg class="title-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71" stroke="#101010"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71" stroke="#101010"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span translate="Shared_Support" class="ng-scope">Liên kết nhanh</span>
                </div>
                <ul ng-class="$ctrl.styles['footer-nav']" class="TXENmrLTqrPrzDpnGfan5">
                    <li>Điều khoản và điều kiện</li>
                    <li>Giới thiệu về MB66</li>
                    <li>Chơi có trách nhiệm</li>
                    <li>Miễn trách nhiệm</li>
                    <li>Chính sách bảo mật</li>
                    <li>Câu hỏi thường gặp</li>
                    <li>Hợp tác đại lý</li>
                </ul>
            </section>
            <section>
                <div ng-class="$ctrl.styles.title" class="_2nbcEJoQ-ZfT7ZkunleqMr">
                    <svg class="title-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12 2v4M12 18v4M4.93 4.93l2.83 2.83M16.24 16.24l2.83 2.83M2 12h4M18 12h4M4.93 19.07l2.83-2.83M16.24 7.76l2.83-2.83"
                            stroke="#101010" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <circle cx="12" cy="12" r="3" stroke="#101010" stroke-width="2" />
                    </svg>
                    <span translate="Shared_Casino" class="ng-scope">Tổng hợp</span>
                </div>
                <ul ng-class="$ctrl.styles['footer-nav']" class="TXENmrLTqrPrzDpnGfan5">
                    <li>CASINO</li>
                    <li>NỔ HŨ</li>
                    <li>BẮN CÁ</li>
                    <li>GAME BÀI</li>
                    <li>THỂ THAO</li>
                    <li>ĐÁ GÀ</li>
                    <li>XỔ SỐ</li>
                </ul>
            </section>
            <section> <a ng-class="$ctrl.styles.link17" class="_2FXpkV4fMnGdXwo6DsRMT7" href="#" style="text-decoration: none;">
                    <div ng-class="$ctrl.styles.title" class="_2nbcEJoQ-ZfT7ZkunleqMr">
                        Đại Sứ Thương Hiệu
                    </div> <img
                        src="/images/footer/8ae268da9548cc7f10dc386f0cfbd91e.png"
                        alt="">
                </a> </section>
        </div>
        <section ng-class="$ctrl.styles['footer-logos']" class="_39tyXHV-L_TQJOnqgE4ju2"> <img
                src="/images/footer/9132626cc3f33a57641a9139424d25ea.png"
                alt=""> <img
                src="/images/footer/cdc90191305a261cd06da27b998f7cf5.png"
                alt=""> <img
                src="/images/footer/92293eaccba314fc77aa79444b120bd8.png"
                alt=""> <img
                src="/images/footer/a7bdb6e893f38711cdeb07b6c095e0d8.png"
                alt=""> <img
                src="/images/footer/b6cc82652cbc4b97a3bb8c1d29c6587f.png"
                alt=""> <img
                src="/images/footer/d3e39525335dba51ac8503cc19366b7e.png"
                alt=""> <img
                src="/images/footer/6af042b301f8399319c3d61b9ea5ec70.png"
                alt=""> <img
                src="/images/footer/cc953a882c74bf2f9abdfe4577fe68c3.png"
                alt=""> <img
                src="/images/footer/22770972a9eea503d7854d031fa324db.png"
                alt=""> <img
                src="/images/footer/0d9a1542119947f8ae9e1ed2d449a5c8.png"
                alt=""> <a href="#"><img
                    src="/images/footer/a45acf97e4003c476fea1c687063446a.png"
                    alt=""></a> <a href="#"><img
                    src="/images/footer/59870539fcd1caa16d6c687932bb1892.png"
                    alt=""></a> <a href="#"><img
                    src="/images/footer/7092bc5d600f6dcf89096909ba017cfc.png"
                    alt=""></a> </section>
        <p ng-class="$ctrl.styles.text" class="_1enrf79p8QHcZIV56f7Jck"> MB66 - Nền tảng giải trí trực tuyến uy tín
            với hệ thống trò chơi đa dạng, vận hành ổn định và dịch vụ hỗ trợ 24/7. Tham gia <br>MB66 để trải nghiệm
            không gian giải trí an toàn và chất lượng. </p>
        <p ng-class="$ctrl.styles.suggest" class="text-center ng-binding _1rm8EYCjCarupQKGl8wf0B"
            ng-bind="$ctrl.suggest">Copyright © MB66 - Website Chính Thức Reserved</p>
    </div>
</footer>

<!-- Application Script -->
<script src="/core/js/app.js"></script>


</body>

</html>