<style>
  /* THONG TIN */
  .infor-main {
    background-color: #000;
    width: 100%;
    padding: 2rem 0;
  }

  .infor-main h3 {
    text-align: center;
    color: white;
    font-size: 23px;
    margin-bottom: 2rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    text-align: center;
  }

  .grid-container .grid-item a {
    text-decoration: none;
    color: #fff;
  }

  .thongtin-diachi {
    background-color: #000;
    color: #c7c4c4;
  }

  .thongtin-diachi__content {
    display: flex;
    padding: 2rem 0;
  }

  .thongtin-diachi__content>div p {
    margin-bottom: 1rem;
  }

  /* FOOTER */
  footer {
    padding: 1rem 0;
    text-align: center;
    background: #333333;
    padding-bottom: 0;
  }

  footer img {
    max-width: 1500px;
  }

  /* Responsive */
  @media only screen and (max-width: 1600px) {
    .container {
      max-width: 1300px;
    }
  }

  @media only screen and (max-width: 1600px) {
    footer img {
      max-width: 1300px;
    }
  }

  @media only screen and (max-width: 1600px) {
    ._1M8UeeUNQsZy4H6GAA2ah3 .modal-dialog {
      margin-top: 1rem
    }
  }
</style>
<!-- THONG TIN -->
<section class="infor-main">
  <div class="container">
    <h3>THÔNG TIN</h3>
    <div class="grid-container">
      <div class="grid-item">
        <a href="/">Điều khoản và điều kiện</a>
      </div>
      <div class="grid-item">
        <a href="/">Chơi có trách nhiệm</a>
      </div>
      <div class="grid-item">
        <a href="/">Quyền riêng tư tại Sodo79</a>
      </div>
      <div class="grid-item">
        <a href="/">Hướng dẫn nạp tiền tại Sodo79</a>
      </div>
      <div class="grid-item">
        <a href="/">Giới thiệu về Sodo79</a>
      </div>
      <div class="grid-item">
        <a href="/">Miễn trách nhiệm</a>
      </div>
      <div class="grid-item">
        <a href="/">Những câu hỏi thường gặp</a>
      </div>
      <div class="grid-item">
        <a href="/">Hướng dẫn rút tiền tại Sodo79</a>
      </div>
    </div>
  </div>

</section>

<!-- ADDRESS -->

<section class="thongtin-diachi">
  <div class="container thongtin-diachi__content">
    <div class="">
      <p>
        Sodo79 là một nhà cái có giấy phép cá cược trực tuyến hợp pháp do Isle of Man và Khu kinh tế Cagayan and
        Freeport cấp. Với bề dày kinh nghiệm và danh tiếng phục vụ hơn 10 triệu người chơi ... <a href="/">Xem
          Thêm</a>
      </p>
      <p>Liên Hệ</p>
      <p>Website: https://www.sodo7979.com</p>
      <p>Địa chỉ: 79 Scotts Road Shaw Center 24/F, Singapore 228208</p>
      <p>SDT: +65 8823 3410</p>
      <p>Email:Admin@Sodo79.com</p>
    </div>
    <div>
      <img style="width: 500px;" src="/images/logongang.png">
    </div>
  </div>
</section>
<footer>
  <img style="width: 100%;" src="/images/footer.png">
  <!-- <img src="/images/COPYRIGHT.svg" style="width: 100%; max-width: 2000px; margin-top: 1rem;" alt=""> -->
</footer>

<!-- Application Script -->
<script src="/core/js/app.js"></script>


</body>

</html>