<%- include('../../includes/header') %>

    <style>
        .thongTinDaiy {
            padding-top: 0;
        }

        .thongTinDaiy__content {
            background: url(/images/agency/bg.jpg);
            height: fit-content;
            padding-bottom: 4rem;
        }

        .thongTinDaiy .banner img {
            width: 100%;
        }

        .thongTinDaiy .benefit {
            text-align: center;
            padding: 4rem 0;
        }

        .thongTinDaiy .benefit>img {
            max-width: 700px;
            margin-bottom: 2rem;
        }

        .thongTinDaiy .regime>img {
            max-width: 700px;
            margin-bottom: 2rem;
        }

        .thongTinDaiy .agent-step {
            text-align: center;
            padding-bottom: 4rem;
        }

        .thongTinDaiy .agent-step__content img {
            padding: 30px;
        }

        .thongTinDaiy .regime {
            text-align: center;
        }

        .thongTinDaiy .regime h4 {
            max-width: 1000px;
            margin: auto;
            font-size: 20px;
            color: #fff;
            letter-spacing: 0.5px;
            line-height: 30px;
        }

        .thongTinDaiy .benefit-section-tables {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            place-items: center;
            margin: 30px 0;
            margin-bottom: 0;
        }

        .thongTinDaiy .benefit-section-tables .benefit-section-table {
            width: 520px;
            aspect-ratio: 646 / 343;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .thongTinDaiy table {
            width: 100%;
            margin-top: 21.5%;
            caption-side: bottom;
            border-collapse: collapse;
        }

        .thongTinDaiy table tbody {
            border-color: inherit;
            border-style: solid;
            border-width: 0;
        }

        .thongTinDaiy table tr:nth-child(1) {
            height: 36px;
        }

        .thongTinDaiy table tr td:nth-child(1) {
            width: 32%;
        }

        .thongTinDaiy table tr td {
            text-align: center;
            color: white;
            font-size: 18px;
            font-weight: 500;
        }

        .thongTinDaiy table tr:nth-child(2) {
            height: 41px;
        }
        .thongTinDaiy table tr:nth-child(3) {
            height: 41px;
        }
        .thongTinDaiy table tr:nth-child(4) {
            height: 44px;
        }
    </style>

    <section class="thongTinDaiy">
        <div class="banner">
            <img src="/images/agency/banner.jpg" alt="banner.jpg">
        </div>
        <div class="thongTinDaiy__content">
            <div class="container">
                <div class="benefit">
                    <img src="/images/agency/tittle1.png" alt="tittle1.png">
                    <div class="benefit__content">
                        <img src="/images/agency/benefit-1.png" alt="benefit-1.png">
                        <img src="/images/agency/benefit-2.png" alt="benefit-2.png">
                        <img src="/images/agency/benefit-3.png" alt="benefit-3.png">
                    </div>
                </div>
                <div class="agent-step">
                    <div class="agent-step__content">
                        <img src="/images/agency/step-1.png" alt="step-1.png">
                        <img src="/images/agency/step-2.png" alt="step-2.png">
                        <img src="/images/agency/step-3.png" alt="step-3.png">
                    </div>
                </div>
                <div class="regime">
                    <img src="/images/agency/tittle3.png" alt="tittle3.png">
                    <h4>
                        SODO tự hào là một trong TOP các nhà cái thương hiệu quốc tế uy tín. Với tư duy HỢP TÁC và PHÁT
                        TRIỂN SODO luôn tôn trọng nhu cầu và ý kiến của mỗi đối tác để cùng nhau xây dựng uy tín LÂU DÀI
                        và BỀN VỮNG. SODO trân trọng kính mời SIÊU TỐI TÁC và ĐẠI LÝ ĐỘC QUYỀN hợp tác tham gia vào hệ
                        thống kinh doanh cùng phát triển nhận hoa hồng siêu khủng không giới hạn cùng với chế độ đãi ngộ
                        cao
                    </h4>
                </div>
                <div class="benefit-section-tables">
                    <div class="benefit-section-table" style="background-image:url(/images/agency/table.png)">
                        <table>
                            <tbody>
                                <tr>
                                    <td>&lt; 300 Triệu</td>
                                    <td>3+</td>
                                    <td>45%</td>
                                </tr>
                                <tr>
                                    <td>&lt; 800 Triệu</td>
                                    <td>5+</td>
                                    <td>50%</td>
                                </tr>
                                <tr>
                                    <td>&lt; 2 TỶ</td>
                                    <td>8+</td>
                                    <td>55%</td>
                                </tr>
                                <tr>
                                    <td>&lt; 5 TỶ</td>
                                    <td>12+</td>
                                    <td>60%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="contact">
                </div>
            </div>
        </div>
    </section>




    <%- include('../../includes/footer') %>